:root {
    --grey: rgb(100, 100, 100);
    --brown: #5b3d1d;
    --orangeold: #d18037;
    --orange: #9e691f;
    --tealold: #1ba595;
    --teal: #0F8577;
    --yellow: #f6b81a;
    --green2: #717933;
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*fonts*/

body {
    font-family: var(--body-font);
    color: var(--brown)
}

h1, h2 {
    font-family: var(--heading-font);
}

/*sizing*/

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

article {
    margin: 16px;
    padding: 8px;
}

/*header*/

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background-color: white;
}

header img {
    width: 120px;
    margin: 15px;
    align-items: center;
    justify-self: center;
}

nav {
    grid-column: 2/6;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navigation a {
    display: block;
    width: 140px;
    text-align: center;
    border: 3px solid var(--brown);
    color: var(--brown);
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

/*main*/

h1 {
    width: 840px;;
    padding: 16px;
    text-align: center;
    font-size: 4rem;
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--teal);
    color: white;
}

/*contact us*/

.send_us {
    color: var(--brown)
}

.contactinfo {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 auto;
    width: 300px;
    border: 3px solid var(--teal);
}

.mapform {
    display: grid;
    grid-template-columns: 430.78px 315px;
    width: 840px;
    padding: 2rem;
    grid-gap: 30px;
}

fieldset {
    border: none;
}

.form {
    padding: 0.5rem;
}

.enter_email input, .enter_name input {
    grid-column: 2/3;
    width: 100%;
    height: 2rem;
}

.message_purpose input, .message_purpose label {
   margin: 0.3rem;
   grid-column: 1/3;
}

.message_area textarea {
    width: 100%;
}

.mapform button[type="submit"] {
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
    background-color: var(--orange);
    color: white;
    font-size: 1.1rem;
    border: none;
}

.serve_you {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    border: 3px solid var(--teal);
    padding-bottom: 2.5rem;
}

.serve_you h2 {
    margin-bottom: 2rem;
    grid-column: 1/5;
}

.serve_you figure img {
    width: 250px;
    height: auto;
    padding: 16px;
}

.serve_you figure figcaption {
    text-align: center;
    font-size: 1.2rem;
}

/*about us*/

.hero {
    position: relative;
}

.hero img {
    width: 840px;
}

.hero h1 {
    top: 50px;
    position: absolute;
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 6px;
    width: 95%;
    padding: 10px;
    background-color: rgb(158 105 31 / 75%);
    color: #fff;
}

.hero article img {
    float: right;
    width: 100px;
}

.hero article p {
    width: 640px;
    margin: 16px;
    padding: 8px;
}

.history {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.history h2 {
    grid-column: 1/4;
}

.p1 {
    grid-column: 1/2;
    margin: 16px;
    padding: 8px;
}

.history img {
    width: 280px;
    padding: 16px
}

.p2 {
    grid-column: 3/4;
    margin: 16px;
    padding: 8px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure figure img {
    width: 150px;
    height: auto;
    padding: 16px;
}

.adventure figure figcaption {
    text-align: center;
}

/*Home*/

.things-to-do {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    margin: 4rem 0 4rem 0;
}

.things-to-do figure img {
    width: 200px;
    height: auto;
    border: 8px solid var(--teal)
}

.things-to-do figure figcaption {
    text-align: center;
    font-size: 1.4rem;
    padding-top: 0.5rem;
}

.shoutout h3, p, a {
    padding: 0.5rem;
}
 
.trips_shoutout {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.trips_shoutout img {
    width: 840px;
}

.shoutout {
    position: absolute;
    width: 600px;
    height: 100px;
    top: 120px;
    left: 120px;
    color: white;
}

.shoutout h3 {
    font-size: 2.5rem;
    text-align: center;
}

.shoutout p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1.7rem;
}

.shoutout a {
    display: block;
    text-align: center;
    width: 180px;
    height: 60px;
    align-content: center;
    margin: 0 auto;
    background-color: var(--orange);
    color: white;
    text-decoration: none;
}

.subscribe-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

.subscribe-news h3 {
    text-align: center;
    font-size: 1.5rem;
    grid-column: 1/3;
    padding-bottom: 1rem;
}

.first, .last, .email {
    padding: 0.5rem;
}

.first input, .last input, .email input {
    width: 100%;
    height: 35px;
}

.email {
    grid-column: 1/3;
    margin-bottom: 1rem;
}

.subscribe-news button[type="submit"] {
    margin: 0 auto;
    grid-column: 1/3;
    font-size: 1.1rem;
    width: 175px;
    height: 50px;
    border: none;
    background-color: var(--teal);
    color: white;
}

/*Trips*/
 
.list-of-trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 755px 820px;
    width: 840px;
    grid-gap: 30px;
    
}

.list-of-trips h2 {
    grid-column: 1/3;
    margin-top: 1rem;
}

.list-of-trips figcaption {
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    
}

.list-of-trips figure img{
    width: 275px;
    height: auto;
    border: 8px solid white;
}

.list-of-trips figure {
    margin: 0 auto;
    width: 405px;
    text-align: center;
    background-color: var(--orange);
    border-radius: 1.3rem;  
}

.list-of-trips figure p {
    width: 300px;
    text-align: left;
    margin: 0 auto;
    color: white;
    line-height: 140%;
    
}

.list-of-trips figure a {
    display: block;
    text-decoration: none;
    width: 150px;
    height: 50px;
    align-content: center;
    margin: 0 auto;
    margin-top: 0.4rem;
    background-color: var(--teal);
    color: white;
    border: 3px solid white
}

/* Footer */

.credits {
    position: relative;
    width: 840px;
    height: auto;
    padding: 32px;
    border-top: 1px solid rgb(0 0 0 / 10%);
    margin: 32px 0 32px 0;
    text-align: center;
}

.socialmedia {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.socialmedia a {
    text-decoration: none;
    padding: 5px;
}

.socialmedia img {
    width: 40px;
}