* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    text-align: center;
    color: rgb(220, 97, 4)
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    display: grid;
    background-color: rgb(241, 241, 241);
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    border: none;
}

legend {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 0.5rem;
    color: rgb(220, 97, 4)
}

label {
    text-align: right;
    padding-left: 1rem;
}

input, select, textarea {
    padding: 0.8rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(220, 97, 4);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(4, 127, 220);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    grid-gap: 0.7rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
    grid-gap: 0.7rem;
}