:root {
    --light-border: 1px solid rgb(0 0 0 / 0.2);
    --outer-margin: 1rem;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin-left: var(--outer-margin);
}

main img {
    width: 150px;
    height: auto;
    margin-left: var(--outer-margin);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin-left: var(--outer-margin);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--outer-margin);
    border: var(--light-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--outer-margin);
    border-top: var(--light-border);
    text-align: center;
}