* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-border: 1px solid rgb(0 0 0 / 0.2);
    --outer-margin: 1rem;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
    margin: var(--outer-margin);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 0;
    margin-left: var(--outer-margin);
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 105px;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--outer-margin);
    border-top: var(--light-border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: var(--outer-margin);
    border: var(--light-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.indent{
    padding-left: 2rem;
}